.login-page {
  min-height: 100vh;
  background-color: #262626;
}

.sidebar {
  background-color: #161616;
  min-height: 100vh;
}

.content {
  background-color: #262626;
  min-height: 100vh;
}

.login-form {
  margin-top: 160px;
  margin-left: 36px;
  margin-right: 36px;
}

.divider {
  height: 2px;
  background-color: #292929;
  margin-bottom: 16px;
}