.bold {
  font-weight: bolder;
}

.textAccentPurple {
  font-weight: bolder;
  color: #8a3ffc;
}

.textAccentRed {
  font-weight: bolder;
  color: #fa4d56;
}

.textAccentBlue {
  font-weight: bolder;
  color: #4589ff;
}
