.title {
  margin-bottom: 4px;
}

.subtitle {
  margin-bottom: 40px;
}

.subtitleStep2 {
  margin-bottom: 40px;
  word-wrap: break-word;
}

.submitButton {
  margin-bottom: 16px;
}

.loading {
  width: auto;
}
