.loginPage {
  min-height: 100vh;
  background-color: #262626;
}

.gridLayout {
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: #161616;
  min-height: 100vh;
  min-width: 320px;
  margin: 0px;
}

.content {
  background-color: #262626;
  min-height: 100vh;
}
